#Rule for Ani Construction
#input1
R1: VGF(({<tam="$x._ani">})) => VGF(({<tam="$x">})) +NP(({ani%PSP<root="ani",lcat="psp">}))

R2: VGF(({<tam="$x._A_ani">})) => VGF(({<tam="$x">})) +NP(({^Isiliye%PSP<root="^Isiliye",lcat="psp">}))

#hE insertion
#input2
#R3: NP~1 NP~2(({<lcat="adj",gend="m",num="sg",pers="3">})) => NP~1 NP~2(({<lcat="adj",gend="m",num="sg",pers="3">})) +VGF(({^hE%VM<root="^hE",lcat="v",gend="m",num="sg",pers="3">}))

#Modifying Case Marker
#input3
R4: NP~1(({<case="o",cm="0">})) NP~2 => NP~1(({<case="o",cm="^kA">})) NP~2

# Ora Insertion
#input4
R5: NP~1(({<cm="A">})) NP~2(({<cm="A">})) => NP~1(({<cm="0">})) +CCP(({^Ora%CC<root="^Ora",lcat="conj">})) NP~2(({<cm="A">}))

#ne insertion
#R6: NP~1(({<case="d",cm="">})) NP~2(({<case="o">})) VGF(({<tam="A">})) => NP~1(({<case="o",cm="^ne">})) NP~2(({<case="o">})) VGF(({<tam="A">}))

R7: NP~1(({<cm="ki">})) JJP => NP~1(({<cm="^ke_liye">}))

#input5
##Te. uwwarAna =
##Hi. uwwara_meM which I can get thru lexical transfer of lo > meM
R8: NP(({<root="uwwaraM",lcat="n",cm="na">})) => NP(({<root="uwwaraM",lcat="n",cm="lo">}))

R9: NP(({<root="paScima",lcat="n",cm="na">})) => NP(({<root="paScima",lcat="n",cm="lo">}))

R10: NP(({<root="xakRiNaM",lcat="n",cm="na">})) => NP(({<root="xakRiNaM",lcat="n",cm="lo">}))

R11: NP(({<root="wUrpu",lcat="n",cm="na">})) => NP(({<root="wUrpu",lcat="n",cm="lo">}))

#input6
R12: VGF(({uMxi%VM})) => VGF(({<root="^hE",tam="^hE">}))

#input7
R13: VGF(({unnAdu%VM})) => VGF(({<root="^hE",tam="^hE">}))

#input8
R14: NP(({<lcat="num">}{<root="BAgaM",tam="gA">})) => NP(({<lcat="num">}{<tam="lo">}))

#input9
R16: JJP(({<root="$y.wa",lcat="adj">})) VGF(({hE%VAUX})) => JJP(({<root="$y.wamE",lcat="adj">})) VGF

#URDU RULE
R17: NP(({x1:}{x2:<root="$x.3">}{x3:})) => NP(({x1:}{x3:}{x2:}))
